{% extends "layout.html" %}

{% block content %}

    
    <article>
		<section>
			<p>
			Этот сайт - командный проект студентов УГАТУ, ФИРТ, ПРО-324. Чепуров Артём, Ермолин Николай, Нафиков Владислав, Ишмухаметова Дана. 
			Цель проекта - приобретение практических навыков проектирования и конструирования ПО.
			Команда выражает благодароность преподавателям Сметаниной Ольге Николаевне и Юдинцеву Богдану Сергеевичу за теоритический материал и наставления.
			</p>
		</section>
        <section>
			<p>
			  <img src="/static/images/pha.png" height="340" align=”middle” alt=""> 
			  <img src="/static/images/phk.jpg" height="340" align=”middle” alt=""> 
			  <img src="/static/images/phv.jpg" height="340" align=”middle” alt="">
			  <img src="/static/images/phd.jpg" height="340" align=”middle” alt="">
			  </p>
        </section>
    </article>

{% endblock %}