{% extends "layout.html" %}

{% block content %}

    
    <article>
		<section>
			<p>
			Суицид – пугающая тема, ее не принято и не очень приятно обсуждать. 
			Поэтому столкнувшись либо с прямыми угрозами своего близкого покончить с собой, 
			либо подозревая такое развитие событий, человек нередко оказывается в растерянности, 
			не знает, как к этому относиться: то ли игнорировать угрозы, не обращая на них внимания, 
			считая их пустыми разговорами, то ли бросаться спасать близкого любой ценой? Ведь зачастую от реакции близких, 
			от их умения вовремя распознать угрозу, от их действий, их искреннего желания поддержать человека, возможно, зависит его жизнь.
			Данный сайт предоставляет статистику по суицидам. Всего вы можете просмотреть три таблицы: статистика по странам, статистика по годам и статистика по возрастным группам. 
			</p>
		</section>
        <section>
            {% for image in imgs %}
                <figure><img src="/static/images/{{image}}" alt=""></figure>
            {% endfor %}
        </section>
    </article>

{% endblock %}